:root {
    --title-color: #322153;
    --primary-color: #34cb79;
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
  
}

html {
    font-family: Roboto, sans-serif;
}

body {
    background-image: linear-gradient(to right, #f0f0f5, #B0E0E6);
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
    color: var(--title-color);

}